<div class="content" role="main">
  <h1 class="text-center mt-3">Product manager app</h1>
  <hr>
  <div class="row py-2 m-4">
    <button type="button" class="btn btn-danger col mx-2" (click)="CountCategory()">CountCategory</button>
    <button type="button" class="btn btn-danger col mx-2" (click)="MaxDiscount()">MaxDiscount</button>
    <button type="button" class="btn btn-danger col mx-2" (click)="PriceLevel()">PriceLevel</button>
  </div> 
  <hr>

  <div class="alert alert-primary m-4  alert-dismissible fade show d-none" id="asd" role="alert">
    <button type="button" class="btn-close" (click)="Close()"></button>
    <div class="row ">
      <label class="col text-dark font-weight-bold">Id</label>
      <label class="col text-dark font-weight-bold">Title</label>
      <label class="col text-dark font-weight-bold">Price</label>
      <label class="col text-dark font-weight-bold">DiscountPercentage</label>
      <label class="col text-dark font-weight-bold">Rating</label>
      <label class="col text-dark font-weight-bold">Stock</label>
      <label class="col text-dark font-weight-bold">Brand</label>
      <label class="col text-dark font-weight-bold">Category</label>
    </div>
    <div class="row">
      <label class="col">{{ selectedProduct.id }}</label>
      <label class="col">{{ selectedProduct.title }}</label>
      <label class="col">{{ selectedProduct.price }}</label>
      <label class="col">{{ selectedProduct.discountPercentage }}</label>
      <label class="col">{{ selectedProduct.rating }}</label>
      <label class="col">{{ selectedProduct.stock }}</label>
      <label class="col">{{ selectedProduct.brand }}</label>
      <label class="col">{{ selectedProduct.category }}</label>
    </div>
    <hr>
    <div class="row">
      <label class="col-2 text-dark font-weight-bold">Description</label>
    </div>
    <div class="row">
      <label class="col-10">{{ selectedProduct.description }}</label>
    </div>
    <hr>
    <div class="row d-flex justify-content-center">
      <div *ngFor="let image of selectedProduct.images " class="col d-flex justify-content-center" >
        <img [src]="image" class="rounded" height="200px" width="200px" alt="Product Image" />
      </div>
    </div>
    <hr>
    <div class="row">
      <label class="col-2 text-dark font-weight-bold">Comments</label>
    </div>
    <div class="row" *ngFor="let comment of comments">
      <div *ngIf="comment.postId === selectedProduct.id">
        <div class="mb-3 bg-light p-3 rounded">
          <label class="text-dark font-weight-bold">Username: {{ comment.user.username }}</label>
          <input class="form-control" type="text" [(ngModel)]="comment.body">
        </div>
                      
      </div>     
    </div>    
  </div>

  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Discount Percentage</th>
        <th scope="col">Rating</th>
        <th scope="col">Stock</th>
        <th scope="col">Brand</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let product of products" [ngClass]="rowColor(product.stock)">
        <td><p>{{ product.id }}</p></td>
        <td><img src="{{ product.thumbnail }}" alt="Thumbnail" width="50" height="50" 
          class="rounded-circle"></td>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.discountPercentage }}</td>
        <td>{{ product.rating }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.category }}</td>
        <td>
          <button type="button" (click)="Delete(product.id)" class="btn btn-danger d-block w-100 mb-1">DEL</button>
          <button type="button" (click)="MoreInfoFromProduct(product)" class="btn btn-secondary d-block w-100">MORE</button>
        </td>
      </tr>  
    </tbody>
  </table>

</div>
<router-outlet></router-outlet>
